{%
  set classes = [
  'block',
  'block-prevnext',
]
%}
<section{{ attributes.addClass(classes).addAttributes('id', 'block-prevnext') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {% if links %}
        {% if links.previous.nid  %}
          <div {{ links.previous.attributes }}>
            <a href="{{ path('entity.node.canonical', {'node': links.previous.nid}) }}">{{ links.previous.label }}</a>
          </div>
        {% endif %}
        {% if links.next.nid %}
          <div {{ links.next.attributes }}>
            <a href="{{ path('entity.node.canonical', {'node': links.next.nid}) }}">{{ links.next.label }}</a>
          </div>
        {% endif %}
    {% endif %}
  {% endblock %}
</section>
